{% macro form(genres) %}
<div class="row d-flex flex-grow-1 align-items-center justify-content-center">
    <div class="col-10">
        <form method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label class="col-form-label-lg" for="FormName">Название</label>
                    <input type="text" maxlength="64" name="name" id="FormName" class="form-control" required>
                </div>
                <div class="mb-3 col-md-4">
                    <label class="col-form-label-lg" for="FormYear">Год выпуска</label>
                    <input type="number" min="1" max="2024" name="year" id="FormYear" class="form-control" required>
                </div>
                <div class="mb-3 col-md-4">
                    <label class="col-form-label-lg" for="FormPublisher">Издание</label>
                    <input type="text" maxlength="64" name="publisher" id="FormPublisher" class="form-control" required>
                </div>
                <div class="mb-3 col-md-4">
                    <label class="col-form-label-lg" for="FormAuthor">Автор</label>
                    <input type="text" maxlength="64" name="author" id="FormAuthor" class="form-control" required>
                </div>
                <div class="mb-3 col-md-4">
                    <label class="col-form-label-lg" for="FormSize">Размер</label>
                    <input type="number" min="1" name="size" id="FormSize" class="form-control" placeholder="В страницах" required>
                </div>
                <div class="mb-3 col-md-4">
                    <label class="col-form-label-lg" for="FormGenre">Жанр</label>
                    <select class="form-select" id="FormGenre" multiple="multiple">
                        {% for genre in genres %}
                        <option value="{{ genre.genre_id }}">{{ genre.genre_name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3 col-md-4">
                    <label class="col-form-label-lg" for="FormCover">Обложка</label>
                    <input type="file" name="cover" id="FormCover" class="form-control" required>
                </div>

            </div>
            <div class="mb-3 col-md-4">
                <label class="col-form-label-lg" for="FormDescription">Описание</label>
                <textarea name="description" id="FormDescription" class="form-control" rows="3" required></textarea>
            </div>
              <button type="submit" class="btn btn-primary">Войти</button>
        </form>
    </div>
</div>
{% endmacro %}