{% macro form(genres, extensions, name, year, publisher, author, size, description, book_genres) %}
<div class="row mb-3 d-flex flex-grow-1 align-items-center justify-content-center">
    <div class="col-10">
        {% if request.endpoint == "create_book" %}
        <h1>Создать книгу</h1>
        {% elif request.endpoint == "edit_book" %}
        <h1>Изменить книгу</h1>
        {% endif %}
        <form method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-4">
                    <label class="col-form-label-lg" for="FormName">Название</label>
                    <input type="text" name="name" id="FormName" class="form-control" value="{{ name }}" required maxlength="64">
                </div>
                <div class="col-md-4">
                    <label class="col-form-label-lg" for="FormYear">Год выпуска</label>
                    <input type="number" name="year" id="FormYear" class="form-control" value="{{ year }}" required  min="1" max="2024">
                </div>
                <div class="col-md-4">
                    <label class="col-form-label-lg" for="FormPublisher">Издание</label>
                    <input type="text" name="publisher" id="FormPublisher" class="form-control" value="{{ publisher }}" required maxlength="64">
                </div>
                <div class="col">
                    <label class="col-form-label-lg" for="FormAuthor">Автор</label>
                    <input type="text" name="author" id="FormAuthor" class="form-control" value="{{ author }}" required maxlength="64" >
                </div>
                <div class="col">
                    <label class="col-form-label-lg" for="FormSize">Размер</label>
                    <input type="number" name="size" id="FormSize" class="form-control" value="{{ size }}" required placeholder="В страницах" min="1" >
                </div>
                {% if request.endpoint == "create_book" %}
                <div class="col">
                    <label class="col-form-label-lg" for="FormCover">Обложка</label>
                    <input type="file" name="cover" id="FormCover" class="form-control" required accept="{% for extension in extensions %} .{{extension}}, {% endfor %}">
                </div>
                {% endif %}
            </div>

            <div class="row">
                <div class="col-12">
                    <label class="col-form-label-lg" for="FormGenre">Жанр</label>
                    <select name="genres" id="FormGenre" class="form-control" multiple="multiple">
                        {% for genre in genres %}
                        <option value="{{ genre.genre_id }}" {% for book_genre in book_genres %}{% if book_genre == genre.genre_name %} selected {% endif %}{% endfor %}>{{ genre.genre_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label class="col-form-label-lg" for="FormDescription">Описание</label>
                    <textarea name="description" id="FormDescription" class="form-control">{{ description }}</textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
</div>
{% endmacro %}