{% macro form() %}
<div class="row d-flex flex-grow-1 align-items-center justify-content-center">
    <div class="col-10">
        <form method="POST">
            <h1>Haha</h1>
            <div class="mb-3 col-md-4">
                <label class="col-form-label-lg" for="FormName">Название</label>
                <input type="text" name="name" id="FormName" class="form-control" required>
            </div>
            <div class="mb-3 col-md-4">
                <label class="col-form-label-lg" for="FormDescription">Описание</label>
                <input type="textarea" name="description" id="FormDescription" class="form-control" required>
            </div>
            <div class="mb-3 col-md-4">
                <label class="col-form-label-lg" for="FormYear">Год выпуска</label>
                <input type="date" name="password" id="FormYear" class="form-control" required>
            </div>
              <button type="submit" class="btn btn-primary">Войти</button>
        </form>
    </div>
</div>
{% endmacro %}